@import "tailwindcss";
@source "../src"; 
@theme {
  
  --font-sans: "Inter", sans-serif;
}
html, body {
  min-height: 100%;
  overscroll-behavior: none;
}

.scrollbar-none {
  -ms-overflow-style: none;  
  scrollbar-width: none;     
}

.scrollbar-none::-webkit-scrollbar {
  display: none;            
}
